<div>
<form method ='POST' action='{%url "workOrnot" work.id %}'>
    {% csrf_token %}
    <h1>출근을 관리 해 주세요</h1>
    <br>
    <h2>직원 이름:{{work.name}}</h2>
    <br>
    <h2>직원 코드:</h2>
    <input name='code' type='text'>
    <h2>출근 현황:{{work.youwork}}</h2>
    <select name ='youwork'>
        <option value="">출결선택</option>
        <option value="work">출근</option>
        <option value="notwork">결근</option>
    </select>
    <br>
    <input class="btn btn-primary" type="submit" value="저장">
</form>

<h2>출근 기록</h2>

<p><a href = '{% url "delete" work.id %}'>직원 삭제</p>
</div>